/* fichier : css/_variables.scss */


/*-FONDS-*/

$color_primary :  #de3163;	
$color_secondary : #060b10;
$color_light : #fafafa;
$color_dark : #272727;

$color_success : #39E375;
$color_error : #D72828;
$color_lightD : #F8F8F8